/ {
    m11:m11 {
        compatible = "pwm-servo";
        pwms = <&pwm3 1 5000 PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(700)>;
        max-pulse = <PWM_USEC(2500)>;
        status = "okay";
    };
    m12:m12{
        compatible = "pwm-servo";
        pwms = <&pwm3 2 5000 PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(700)>;
        max-pulse = <PWM_USEC(2500)>;
    };

    m21:m21 {
        compatible = "pwm-servo";
        pwms = <&pwm4 1 5000 PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(700)>;
        max-pulse = <PWM_USEC(2500)>;
        status = "okay";
    };

    m22:m22{
        compatible = "pwm-servo";
        pwms = <&pwm4 2 5000 PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(700)>;
        max-pulse = <PWM_USEC(2500)>;
    };

    m31:m31 {
        compatible = "pwm-servo";
        pwms = <&pwm5 1 5000 PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(700)>;
        max-pulse = <PWM_USEC(2500)>;
        status = "okay";
    };

    m32:m32{
        compatible = "pwm-servo";
        pwms = <&pwm5 2 5000 PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(700)>;
        max-pulse = <PWM_USEC(2500)>;
    };

    m41:m41 {
        compatible = "pwm-servo";
        pwms = <&pwm5 3 5000 PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(700)>;
        max-pulse = <PWM_USEC(2500)>;
        status = "okay";
    };
    
    m42:m42{
        compatible = "pwm-servo";
        pwms = <&pwm5 4 5000 PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(700)>;
        max-pulse = <PWM_USEC(2500)>;
    };

};

&timers3 {
        status = "okay";

        pwm3: pwm {
                status = "okay";
                pinctrl-0 = <&tim3_ch1_pb4 &tim3_ch2_pb5>;
                pinctrl-names = "default";
        };
};

&timers4 {
        status = "okay";

        pwm4: pwm {
                status = "okay";
                pinctrl-0 = <&tim4_ch1_pb6 &tim4_ch2_pb7>;
                pinctrl-names = "default";
        };
};

&timers5 {
        status = "okay";

        pwm5: pwm {
                status = "okay";
                pinctrl-0 = <&tim5_ch1_pa0 &tim5_ch2_pa1 &tim5_ch3_pa2 &tim5_ch4_pa3>;
                pinctrl-names = "default";
        };
};