/* Copyright (c) 2021 STMicroelectronics
SPDX-License-Identifier: Apache-2.0 */

/ {
	
	
};



&spi1 {
	pinctrl-0 = <&spi1_sck_pa5 &spi1_miso_pa6 &spi1_mosi_pa7>;
	pinctrl-names = "default";
	status = "okay";
    cs-gpios = <&gpioa 4 GPIO_ACTIVE_LOW>;

    llcc68: llcc68@0 {
        compatible = "semtech,llcc68";
        reg = <0>;
        spi-max-frequency = <16000000>;
        reset-gpios = <&gpioa 5 GPIO_ACTIVE_LOW>;
        dio1-gpios = <&gpioa 6 GPIO_ACTIVE_HIGH>;
        busy-gpios = <&gpioa 7 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };
};


